[defaults]
action_plugins     = ./ansible/plugins/action_plugins
callback_plugins   = ./ansible/plugins/callback_plugins
callbacks_enabled  = aflp_fast_path_summary
collections_path   = ./ansible/collections
host_key_checking  = False
interpreter_python = auto_silent
stdout_callback    = default
